####################################
# NX / MONOREPO
####################################
node_modules/
.nx/
nx-cache/
dist/
tmp/
.cache/

####################################
# FRONTEND (Vite / React / TS)
####################################
.vite/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

####################################
# TAURI / RUST
####################################
target/
apps/**/src-tauri/target/
apps/**/src-tauri/gen/
apps/**/src-tauri/.cargo/

####################################
# ENV FILES
####################################
.env
.env.*
!.env.example

####################################
# IDE / EDITORS
####################################
.idea/
.vscode/
*.iml

####################################
# OS
####################################
.DS_Store
Thumbs.db

####################################
# TEST / COVERAGE
####################################
coverage/

####################################
# MISC
####################################
*.swp
*.swo
